@{
    ViewData["Title"] = "Confirmation";
}

<div class="confirmation-container; text-center">
    <h1>Mesajınız Başarıyla Gönderildi!</h1>
    <p>Mesajınız belirtilen tarihte e-posta adresinize gönderilecektir.</p>
    <a href="/">Ana Sayfaya Dönmek için tıklayınız.</a>
</div>