@{
    Layout = null;
}

@{
    ViewData["Title"] = "Anasayfa";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-lava.css">
    <link rel="stylesheet" href="assets/css/owl-carousel.css">
</head>
<body>
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="/" class="logo" style="text-transform: none;">
                        LetterToSelf
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="welcome-area" id="welcome">
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                     data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <h1>Bir Mektup Yaz, <em>Geleceğe Ulaştır</em></h1>
                    <p>Bir mesaj bırakın ve zamanın akışına meydan okuyarak, gelecekteki anlarınıza dokunun.</p>
                    <a href="/SendLetter" class="main-button-slider">Gelecekte Buluşalım</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>01</h2>
                        <img src="assets/images/features-icon-1.png" alt="">
                        <h4>Mektubunu Yaz</h4>
                        <p>Gelecekteki kendinize veya bir başkasına iletmek istediğiniz mesajınızı yazın. Duygularınızı, düşüncelerinizi veya dileklerinizi paylaşın.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>02</h2>
                        <img src="assets/images/features-icon-2.png" alt="">
                        <h4>Tarih Seçimi Yap</h4>
                        <p>Mektubunuzun ne zaman teslim edilmesini istediğinizi belirleyin. <br> Uygun tarihi seçin ve mektubunuzun tam zamanında, planladığınız şekilde ulaşmasını sağlayın.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>03</h2>
                        <img src="assets/images/features-icon-3.png" alt="">
                        <h4>Mektubun Uçsun</h4>
                        <p>Mektubunuzu gönderin ve belirlediğiniz tarihte geleceğe doğru yolculuğuna çıkmasını izleyin. O gün geldiğinde, yıllar öncesinden yazdığınız mesaj sizi bekliyor olacak!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="left-image-decor"></div>
<div class="right-image-decor"></div>
<footer id="contact-us">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="right-content col-lg-6 col-md-12 col-sm-12">
                    <h2>Bizim <em>hakkımızda</em></h2>
                    <p>
                        Geleceğe e-posta gönderme hizmetimizle, düşüncelerinizi ve anılarınızı zamanın ötesine taşımayı hedefliyoruz. Bu platform, kullanıcılara gelecekteki kendilerine, sevdiklerine veya hayal ettikleri bir zamana mesajlar göndermelerine olanak tanır.
                        <br><br>Amacımız, insanların anılarını kaydedip gelecekteki hayallerini yazmalarını sağlamak ve zamanla değişen düşüncelerinizi biriktirmenize yardımcı olmaktır.
                    </p>
                    <ul class="social">
                        <li>
                            <a href="https://www.linkedin.com/in/miraykaragöz" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/miraykaragoz" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://miraykaragoz.com.tr" target="_blank">
                                <i class="fa fa-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="sub-footer">
                    <p>
                        Copyright &copy; 2024 LetterToSelf
                        | Designed by <a rel="nofollow" href="https://miraykaragoz.com.tr">Miray Karagöz</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="assets/js/jquery-2.1.0.min.js"></script>
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/scrollreveal.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/imgfix.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>